* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #12cbc4;
}

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#box {
	padding: 10px;
	width: 35%;

	background-color: #fff;
}

.row {
	width: 100%;
	margin: 2rem;
	margin-left: 5px;
}

button {
	width: 100%;
	background-color: #12cbc4;
	padding: 7px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}
